## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import ipywidgets as widgets


# Import API key
g_key = "AIzaSyASYYy3PZRqtj7rOh0jRyICWs0enm4bFKo"

ModuleNotFoundError: No module named 'gmaps'

In [ ]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

In [2]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_preferred_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_preferred_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Salalah,OM,2022-08-10 16:30:52,17.0151,54.0924,77.09,100,100,8.05,light intensity drizzle
1,1,Arraial Do Cabo,BR,2022-08-10 16:30:14,-22.9661,-42.0278,73.26,83,100,10.36,light rain
5,5,Primorsk,UA,2022-08-10 16:38:55,46.7348,36.3443,87.24,30,70,13.38,broken clouds
6,6,Sovetskiy,RU,2022-08-10 16:38:56,61.3614,63.5842,66.99,50,66,8.23,broken clouds
8,8,Rikitea,PF,2022-08-10 16:38:57,-23.1203,-134.9692,73.11,80,92,24.18,light rain

In [26]:
# 4a. Determine if there are any empty rows.
print(len(cities_preferred_df))
cities_preferred_df.count()

450

City_ID                450
City                   450
Country                448
Date                   450
Lat                    450
Lng                    450
Max Temp               450
Humidity               450
Cloudiness             450
Wind Speed             450
Current Description    450
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_preferred_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

448

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Salalah,OM,2022-08-10 16:30:52,17.0151,54.0924,77.09,100,100,8.05,light intensity drizzle
1,1,Arraial Do Cabo,BR,2022-08-10 16:30:14,-22.9661,-42.0278,73.26,83,100,10.36,light rain
5,5,Primorsk,UA,2022-08-10 16:38:55,46.7348,36.3443,87.24,30,70,13.38,broken clouds
6,6,Sovetskiy,RU,2022-08-10 16:38:56,61.3614,63.5842,66.99,50,66,8.23,broken clouds
8,8,Rikitea,PF,2022-08-10 16:38:57,-23.1203,-134.9692,73.11,80,92,24.18,light rain

In [28]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Salalah,OM,77.09,light intensity drizzle,17.0151,54.0924,
1,Arraial Do Cabo,BR,73.26,light rain,-22.9661,-42.0278,
5,Primorsk,UA,87.24,broken clouds,46.7348,36.3443,
6,Sovetskiy,RU,66.99,broken clouds,61.3614,63.5842,
8,Rikitea,PF,73.11,light rain,-23.1203,-134.9692,
9,Cidreira,BR,62.02,broken clouds,-30.1811,-50.2056,
10,Pedernales,DO,87.42,clear sky,18.0384,-71.7440,
11,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,
12,Albany,US,75.67,broken clouds,42.6001,-73.9662,
13,Hamilton,US,81.25,overcast clouds,39.1834,-84.5333,

In [29]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.

NameError: name 'np' is not defined

In [30]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Salalah,OM,77.09,light intensity drizzle,17.0151,54.0924,
1,Arraial Do Cabo,BR,73.26,light rain,-22.9661,-42.0278,
5,Primorsk,UA,87.24,broken clouds,46.7348,36.3443,
6,Sovetskiy,RU,66.99,broken clouds,61.3614,63.5842,
8,Rikitea,PF,73.11,light rain,-23.1203,-134.9692,
9,Cidreira,BR,62.02,broken clouds,-30.1811,-50.2056,
10,Pedernales,DO,87.42,clear sky,18.0384,-71.7440,
11,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,
12,Albany,US,75.67,broken clouds,42.6001,-73.9662,
13,Hamilton,US,81.25,overcast clouds,39.1834,-84.5333,

In [31]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

NameError: name 'gmaps' is not defined